---
import Navbar from "@/components/Navbar"
import SmoothScroll from "@/components/SmoothScroll"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/80ADEV.PNG" />
    <meta name="generator" content={Astro.generator} />
    <title>80A.Dev</title>
    <meta property="og:title" content="80A.Dev" />
    <meta property="og:image" content="/80ADEV.PNG" />
    <meta property="og:image:alt" content="80A.dev logo" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="/80ADEV.PNG" />
  </head>
  <body>
    <SmoothScroll client:only>
      <slot />
    </SmoothScroll>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
